@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background: #f6f6f6;
    font-family: 'Lato', sans-serif;
}

main {
    background: white;
    padding: 30 30px;

}
